body {
    font-family: 'Times New Roman' , Times, serif;
    margin: 20px;
    padding: 0;
    background-color: darkgray;
}

form {
    margin: auto;
    background-color: rgb(208, 211, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1{
    text-align: center;
    color: black;
}

fieldset {
    border: 3px solid rgb(37, 121, 155);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(204, 237, 247);
  
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgba(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color:black
}

input text area {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1 px  steelblue;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color:  rgb(156, 212, 249);
    color:black;
    border: none;
    border-radius: 4px;
    box-shadow:0 4px 8px  rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover{
color: rgb(214, 247, 53); 
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(37, 187, 246);
    border-radius: 8px;
    background-color:  rgb(204, 237, 247);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}


#resume-display h2 {
    color:black
}
